.add-list{
    &__popup{
        width: 235px;
        height: 150px;
        background: white;
        border-radius: 10px;
        box-shadow: 0px 6px 10px rgba(0,0,0,0.05);
        padding: 18px;

        .button{
            width: 100%;
            margin-top: 15px;
        }
    }
}